<section class="thirteen columns">
    <h1>Online</h1>
    <article>
        <header>
            <h1>Most active references</h1>
        </header>
        <p>
          <ul>
              <li><a href="https://github.com/toto-castaldi">Git Hub</a></li>
              <li><a href="http://www.linkedin.com/in/antoniocastaldi">Linkedin</a></li>
        	  <li><a href="http://www.skillbill.it">Skillbill (my company)</a></li>
              <li><a href="https://play.google.com/music/playlist/AMaBXymaYhH9ojZaYPK7eupZD71F7vun-QvV5nRba-kpGthenwIsZTdXPHqqoqit_5paMyM8bIgq5SG816KM5yaDMxWSr3Ti3A==">Music that i like</a>
              <li><a href="https://www.themoviedb.org/u/toto.castaldi">The Movie DB</a></li>
              <li><a href="http://www.amazon.it/registry/wishlist/16E658MKB9QY3">Amazon Whishlist</a></li>
              <li><a href="https://www.endomondo.com/profile/583001">Endomondo</a></li>
              <li><a href="https://www.duolingo.com/toto.casta">Duolingo</a></li>
              <li><a href="http://en.gravatar.com/toto7castaldi">Gravatar</a></li>
              <li><a href="https://www.facebook.com/toto.castaldi">Facebook</a></li>  
          </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Less active references</h1>
        </header>
        <p>
          <ul>
            <li><a href="https://search.maven.org/#search%7Cga%7C1%7Ccom.github.toto-castaldi">Public Maven artifacts</a></li>
            <li><a href="https://goo.gl/photos/jgHbdKeAaw6Fb2LF7">Public Photo</a></li>
              <li><a href="https://www.codeschool.com/users/acastaldi">Code School</a></li>
              <li><a href="https://app.pluralsight.com/profile/antonio-castaldi">Plural Sight</a></li>
              <li><a href="https://www.codingame.com/profile/393132ae7bcc4759a1a8c73b063773540976731">Codin Game</a></li>
              
            <li><a href="https://www.codewars.com/users/toto-castaldi">Code Wars</a></li>
            <li><a href="http://codepen.io/toto-castaldi/">CodePen</a></li>
            <li><a href="https://gist.github.com/toto-castaldi">Gist</a></li>
            <li><a href="https://www.freecodecamp.com/toto-castaldi">Free Code Camp</a></li>
            <li><a href="https://www.youtube.com/user/toto0castaldi">YouTube</a></li>
            <li><a href="https://market.mashape.com/toto">Mashape</a></li>
            <li><a href="http://profiles.google.com/100768257421748773387">Google +</a></li>
            <li><a href="https://www.workshape.io/person/antonio-(toto)-castaldi/profile">Workshape</a></li>
          </ul>
        </p>
    </article>
</section>
