<section class="thirteen columns">
    <h1>Online</h1>
    <article>
        <header>
            <h1>Links</h1>
        </header>
        <p>
        <ul>
            <li><a href="https://github.com/toto-castaldi">Git Hub</a></li>
            <li><a href="http://www.linkedin.com/in/antoniocastaldi">Linkedin</a></li>
            <li><a href="https://www.youtube.com/user/toto0castaldi">YouTube</a></li>
            <li><a href="http://profiles.google.com/100768257421748773387">Google +</a></li>
            <li><a href="http://en.gravatar.com/toto7castaldi">Gravatar</a></li>
            <li><a href="https://www.facebook.com/toto.castaldi">Facebook</a></li>
            <li><a href="http://codepen.io/toto-castaldi/">CodePen</a></li>
            <li><a href="https://www.endomondo.com/profile/583001">Endomondo</a></li>
        </ul>
        </p>
    </article>
</section>
